# 檔案名稱 .gitignore

#dfm R studio design file
*.exe
*.swp

#directories
Win32/
__astcache/
__history/
__recovery/
mApping/

#BCB, C++ builder group, project files, meta class
mapping.cbproj
mapping.cbproj.local
*.groupproj
*.groupproj.local

#pictures
*.PNG
*.bmp

#variances
__astcache/d@@os000175@documents@embarcadero@studio@projects@ecu_projs/
astcache
@
__astcache/@d@@os000175@documents@embarcadero@studio@projects@ecu_projs/
__astcache/@d@@os000175@documents@embarcadero@studio@projects@ecu_projs/ls2txt3.cpp
__astcache/@d@@os000175@documents@embarcadero@studio@projects@ecu_projs/ls2txt3.h
__astcache/c@@users@peter@documents@ecu_projs/
__astcache/@c@@users@peter@documents@ecu_projs/

#sample output
supply/easy_tiny_out.txt
supply/ECU_w2.xlsx
supply/my_stream_test.csv

# 當然你要忽略自己也可以，只是通常不會這麼做
# .gitignore
# 檔案名稱 .gitignore

#branch my stream -- csv file is stable reporting

east_tiny.txt
easy_tiny_out.txt
